@use "../abstracts" as *;

.container {
  --padding: #{$container-inline-padding} * 3;
  --max-width: 60rem;

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  @include mqMin(large) {
    --max-width: 70rem;
  }

  @include mqMin(xl) {
    --max-width: 130rem;
  }
}

.container[data-type="wide"] {
  --max-width: 75rem;

  @include mqMin(large) {
    --max-width: 95rem;
  }

  @include mqMin(xl) {
    --max-width: 155rem;
  }
}
