@use "../abstracts" as *;

.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, $flex-group-gap);
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}