@use "../abstracts/" as *;

@include mqMin(medium) {
  .from-left {
    transform: translateX(-70%);
  }

  .from-right {
    transform: translateX(70%);
  }

  .from-left,
  .from-right {
    opacity: 0;

    &.appear {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
