@use "../abstracts/" as *;

.wave {
  aspect-ratio: 900/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mqMax(small) {
    aspect-ratio: 900/600;
  }
}

.wave--unique {
  aspect-ratio: 900/150;

  @include mqMax(small) {
    aspect-ratio: 900/300;
  }
}

.layer-1 {
  background-image: url("../assets/layer1.svg");
}

.layer-2 {
  background-image: url("../assets/layer2.svg");
}

.layer-3 {
  background-image: url("../assets/layer3.svg");
}

