.wave {
  aspect-ratio: 900/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave--unique {
  aspect-ratio: 900/100;
}

.layer-1 {
  background-image: url("../assets/layer1.svg");
}

.layer-2 {
  background-image: url("../assets/layer2.svg");
}

.layer-3 {
  background-image: url("../assets/layer3.svg");
}

