@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mqMin(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  &.flow-row {
    grid-auto-flow: row;
  }

  &.justify-center {
    justify-items: center;
  }

  &.align-center {
    align-items: center;
  }

  .align-self-center {
    align-self: center;
  }

  .justify-self-center {
    justify-self: center;
  }
}
