@use "../abstracts" as *;

.grid-auto-fit {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      min(var(--auto-fit-min, $auto-fit-min), 100%),
      var(--auto-fit-max, $auto-fit-max)
    )
  );
}
