@use "../abstracts/" as *;

.btn {
  display: block;
  border: 0;
  line-height: 1;
  cursor: pointer;
  padding: 1.125em 2.25em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $fw-700;
  border-radius: 50px;
  
  &--primary {
    color: clr(neutral, 900);
    background-image: gradients(linear, 400);
    position: relative;
    z-index: 0;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50px;
      background-image: gradients(linear, 100);
      z-index: -1;
      transition: opacity 150ms linear;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &--secondary {
    --outline-size: 5px;

    color: clr(neutral, 100);
    background-color: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);

    &:is(:hover, :focus) {
      background-color: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }

  &--hamburger {
    background: transparent;
    border: 3px solid var(--hamburger-color, #000);
    border-radius: .5rem;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 1.1em;
    right: 2.5em;
    z-index: 9999;

    --hamburger-color: white;

    .hamburger-icon {
      transition: translate 1s, rotate 1s;
    }

    &[aria-expanded="true"] .hamburger-icon {
      translate: 2px -2px;
      rotate: .125turn;
    }

    .line {
      stroke-dasharray: 60 31 60 1000;
      transition: 1s;
    }

    &[aria-expanded="true"] .line {
      stroke-dasharray: 60 105 60 1000;
      stroke-dashoffset: -90;
    }

    @include mq(medium) {
      display: none;
    }
  }
}
