@use "../abstracts/" as *;

.btn {
  display: block;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  padding: 1.125em 2.25em;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $fw-700;
  
  &--primary {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    color: clr(neutral, 900);
    background-image: gradients(linear, 400);
    transition: background-color 300ms;

    & > span {
      position: absolute;
      z-index: -1;
      width: 33.333%;
      height: 100%;
      background: transparent;
    }

    & > :first-child {
      left: 0;
      top: 0;
    }

    & > :last-child {
      right: 0;
      top: 0;
    }

    &::before {
      position: absolute;
      content: "";
      z-index: -1;
      inset: 0;
      margin: auto;
      width: 10%;
      aspect-ratio: 1;
      border-radius: 50%;
      opacity: 0;
      background-image: gradients(linear, 400);
      transition: transform 1000ms 300ms, opacity 300ms;
    }

    &:active::before {
      transform: scale(20);
      opacity: 1;
      transition: transform 1000ms, opacity 500ms;
    }

    &:has(:first-child:active)::before {
      margin-left: 0;
    }

    &:has(:last-child:active)::before {
      margin-right: 0;
    }

    &:has(:first-child:active)::before,
    &:has(:last-child:active)::before {
      transition: transform 500ms, opacity 250ms;
    }

    &::after {
      position: absolute;
      content: '';
      z-index: -2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50px;
      opacity: 0;
      background-image: gradients(linear, 100);
      transition: opacity 300ms;   
    }

    &:hover::after,
    &:focus-visible::after {
      opacity: 1;
    }
  }

  &--secondary {
    --outline-size: 5px;

    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, 100);
    background-color: transparent;
    transition: background-color 250ms, color 250ms;
    
    &:is(:hover, :focus-visible) {
      background-color: clr(neutral, 100);
      color: clr(neutral, 900);
    }
  }

  &--hamburger {
    z-index: 9999;
    overflow: hidden;
    border: 3px solid var(--hamburger-color, #fff);
    border-radius: .5rem;
    padding: 0;
    background: transparent;
   
    --hamburger-color: #{$clr-neutral-100};

    .hamburger-icon {
      transition: translate 1s, rotate 1s;
    }

    &[aria-expanded="true"] .hamburger-icon {
      translate: 2px -2px;
      rotate: .125turn;
    }

    .line {
      stroke-dasharray: 60 31 60 1000;
      transition: 1s;
    }

    &[aria-expanded="true"] .line {
      stroke-dasharray: 60 105 60 1000;
      stroke-dashoffset: -90;
    }

    @include mqMin(medium) {
      display: none;
    }
  }

  &--scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    border: 0;
    background: 0;
    padding: 0;
    font-size: fs(800);
    color: clr(primary, 300); 
    transition: visibility 250ms, opacity 250ms;

    &.visible {
      visibility: visible;
      opacity: 0.7;
    }
  }
}
