@use "../abstracts/" as *;

.primary-footer {
  --grid-gap: #{size(80)};

  h2,
  h3 {
    color: clr(primary, 300);
  }

  .contact {
    display: flex;
    flex-direction: column;
    row-gap: size(4);

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: size(8);
    }
  }

  .copyright {
    margin-top: size(36) * 1.5;
  }
}
