@use "../abstracts/" as *;

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

.form-container {
  --clr-neutral-100: #{$clr-neutral-100};
  --clr-primary-300: #{$clr-primary-300};

  display: grid;
  overflow: hidden;
  grid-template-rows: minmax(200px, 1fr);

  @include mqMin(medium) {
    grid-template-columns: 1fr 1fr;
  }

  .form-bg {
    background-image: url("../assets/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .form-bg {
    background-image: -webkit-image-set(url("../assets/contact.webp") 1x);
  }

  .form-content {
    display: grid;
    gap: 1.5em;
    padding: $form-content-padding;
    background-color: clr(neutral, 700);

    .form-group {
      display: grid;
      gap: 0.5em;
    }

    label {
      width: 100%;
      display: block;
    }

    select {
      appearance: none;
      outline: none;
      border: none;
      background-color: clr(neutral, 700);
      font-size: fs(400);
      cursor: pointer;
      width: 100%;
    }

    .select {
      width: 100%;
      height: 40px;
      border: 1px solid #fff;
      border-radius: 20px;
      padding: 0 20px;
      font-size: 1.25rem;
      cursor: pointer;
      display: grid;
      grid-template-areas: "select";
      align-items: center;
    }

    .select::after {
      content: "";
      width: 0.8em;
      height: 0.5em;
      background-color: clr(primary, 300);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      justify-self: end;
    }

    select,
    .select:after {
      grid-area: select;
    }

    input, textarea {
      font-size: fs(400);
      width: 100%;
      height: 40px;
      padding: 0 20px;
      background-color: clr(neutral, 700);
      border: 1px solid clr(neutral, 100);
      border-radius: 20px;
      transition: background-color 250ms;

      &:focus {
        outline: none;
        background-color: clr(neutral, 900);
        border-color: clr(primary, 300);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
    }
    
    textarea {
      background: none;
      width: 100%;
      height: 100px;
    
      @include mqMin(medium) {
        height: 300px;
      }
    }
  }
}















