@use "../abstracts/" as *;

.hero {
  background-image: gradients(linear, 900),
  url("../assets/web.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  span {
    background: gradients(linear, 400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}