@use "../abstracts/" as *;

.logo-container {
  font-family: $ff-accent;
}

.logo {
  height: 50px;

  &.z-index-100 {
    z-index: 100;
  }
}

.logo-text {
  span {
    background: gradients(webkit, 400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
