@use "../abstracts/" as *;

.primary-navigation {
  --flex-column-gap: #{size(48)};

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: clr(neutral, 100);
    font-size: fs(300);
    font-family: $ff-accent;
    transition: color 250ms;
    font-weight: $fw-700;

    &:is(:hover, :focus) {
      color: clr(primary, 400) !important;
    }
  }
}