@use "../abstracts/" as *;

.primary-navigation,
.secondary-navigation {
  --flex-column-gap: #{size(48)};

  a {
    text-decoration: none;
    color: clr(neutral, 100);
    font-size: fs(300);
    font-family: $ff-accent;
    transition: color 250ms;

    &:hover,
    &:focus {
      color: clr(primary, 300);
    }
  }
}

.primary-navigation-container {
  @include mqMax(medium) {
    position: absolute;
  }
}

.primary-navigation {
  flex-direction: column;
  transform: translateX(100%);
  position: fixed;
  z-index: 99;
  inset: 0 0 0 30%;
  padding: 10rem 2em;
  
  @include mqMin(medium) {
    background-color: transparent !important;
    position: unset;
    flex-direction: row;
    transform: translateX(0);
    padding: 0;
  }

  @include mqMax(74em) {
    transition: transform 350ms, background-color 350ms;
  }
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0);
  background-color: clr(neutral, 900);
}

.secondary-navigation {
  display: flex;
  flex-direction: column;
  row-gap: size(4);
}



