@use "../abstracts/" as *;

.primary-header {
  --flex-row-gap: #{size(32)};

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: size(20) 0;
  background-color: transparent;
  transition: background-color 250ms;

  &.sticky {
    background-color: clr(neutral, 900);
  }
}
