@use "../abstracts/" as *;

.primary-header {
  --flex-row-gap: #{size(32)};

  padding: size(20);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 250ms;
}