@use "../abstracts/" as *;

.section-header {
  h2 {
    color: clr(primary, 300);
    // background: gradients(linear, 400);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }

  &:has(p) {
    margin-block-end: size(36);
  }

  &:not(:has(p)) {
    margin-block-end: size(36) * 1.5;
  }

  p {
    max-width: 50ch;

    .text-center & {
      margin-inline: auto;
    }
  }
}