@use "../abstracts/" as *;

.services {
  .service {
    transition: transform 500ms ease-in, opacity 500ms, background-color 500ms;

    .service-img-container {
      transition: transform 500ms ease-in;
    }

    &:hover,
    &:focus {
      transform: scale(1.02);
      background-color: clr(neutral, 900);

      .service-img-container {
        transform: scale(1.05);
      }
    }
  }

  .even-columns {
    grid-auto-flow: row;
    grid-template-rows: min-content;
    grid-template-columns: 1fr;
  }

  ul {
    --flex-row-gap: #{size(12)};

    li {
      display: flex;
      gap: size(12);
      &::before {
        margin-top: size(4);
        height: size(24);
        width: size(24);
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
      }
    }
  }

  @include mqMin(medium) {
    img {
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
  }
}
