@use "../abstracts/" as *;

.success-body {
  background: gradients(linear, 900), url("../assets/success.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: size(32);

  .success {
    --flex-column-gap: #{size(12)};
    padding: size(32);

    .icon {
      height: size(36);
      width: size(36);
    }

    .icon-2 {
      height: size(28);
      width: size(28);
    }
  }
}

.success-body {
  background-image: gradients(linear, 900),
    -webkit-image-set(url("../assets/success.webp") 1x);
}
