@use "../abstracts/" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font: {
    family: $ff-base;
    size: fs(400);
    weight: $fw-400;
  }
  line-height: 1.8;
  color: clr(neutral, 100);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: size(8);
  background-color: clr(neutral, 700);
}

::-webkit-scrollbar-track {
  margin-block: size(8);
}

::-webkit-scrollbar-thumb {
  background-color: clr(primary, 300);
  border-radius: 100vw;
}

@supports (scrollbar-color: clr(primary, 300) clr(neutral, 700)) {
  * {
    scrollbar-color: clr(primary, 300) clr(neutral, 700);
    scrollbar-width: thin;
  }
}






