$sizes: (
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  22: 1.375rem,
  24: 1.5rem,
  32: 2rem,
  36: 2.25rem,
  48: 3rem,
  60: 3.75rem,
  80: 5rem,
);

$section-padding: clamp(3rem, 10vh, 7rem);

$section-xl-padding: 19rem;

$card-body-padding: clamp(2rem, 3.5vw, 5rem);

$grid-gap: 1.5rem;
$auto-fit-min: 15.625rem;
$auto-fit-max: 1fr;

$flex-group-gap: 1rem;

$container-inline-padding: 1rem;
$container-max-width: 60rem;
$container-max-width-wide: 75rem;