$ff-sans: 'Mulish', sans-serif;
$ff-sans-2: 'Poppins', sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-sans-2;

$fw-400: 400;
$fw-700: 700;

$font-sizes: (
  900: clamp(2.3rem, 0.5rem + 5vw, 5rem),
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  700: clamp(2rem, 0.5rem + 5vw, 2.5rem),
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem),
  550: clamp(1.125rem, 0.5rem + 2vw, 1.3125rem), 
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,
);

