// $ff-sans: 'Lato', sans-serif;
$ff-sans: 'Poppins', sans-serif;
$ff-sans-2: 'Montserrat', sans-serif;

$ff-base: $ff-sans;
$ff-accent: $ff-sans-2;

$fw-400: 400;
$fw-700: 700;

$font-sizes: (
  900: clamp(2.8rem, 0.5rem + 10vw, 5rem),
  800: clamp(2.5rem, 0.5rem + 7vw, 3.75rem),
  700: clamp(2rem, 0.5rem + 5vw, 2.5rem),
  600: clamp(1.4rem, 0.5rem + 3vw, 1.6875rem), 
  500: 1.3125rem,
  400: 1.125rem,
  300: 1rem,

  // sm: (
  //   900: 2.2rem,
  //   800: 2rem,
  //   600: 1.4rem,
  //   500: 1.3125rem,
  //   400: 1.125rem,
  //   300: 1rem,
  // ),

  // md: (
  //   900: 3rem,
  //   800: 2.5rem,
  //   600: 1.5rem,
  //   500: 1.3125rem,
  //   400: 1.125rem,
  //   300: 1rem,
  // ),

  // lg: (
  //   900: 5rem,
  //   800: 3.75rem,
  //   600: 1.6875rem,
  //   500: 1.3125rem,
  //   400: 1.125rem,
  //   300: 1rem,
  // ), 
);

